<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <span class="self-center text-2xl text-black font-semibold whitespace-nowrap dark:text-white">
      PartageTaListe
    </span>
    <div class="flex md:order-2">
      <% if current_user %>
        <%= link_to "Lists", lists_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium mr-3" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "rounded-lg py-3 px-5 bg-red-600 text-white block font-medium" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <% end %>
    </div>
  </div>
</nav>
