<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Dis-nous en plus</h1>

  <%= render "form", item: @item, list: @list, path: list_items_path(@list) %>

  <%= link_to 'Retour à la liste', list_path(@list), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium mb-16" %>
</div>
